#This is the default configuration setup for DwarfCraft

#Manually set the skills file version to use. Use skills.config.v99 for version 99
#No version number uses current version
Skills File Name: skills.config

#Manually set the effects file version to use. Use effects.config.v99 for version 99.
#No version number uses current version
Effects File Name: effects.config

Messages File Name: messages.config
Database File Name: dwarfcraft.db