#This is the default configuration setup for DwarfCraft

#Manually set the skills file version to use. Use skills.config.v99 for version 99
#No version number uses current version
Skills File Name: skills.csv

#Manually set the effects file version to use. Use effects.config.v99 for version 99.
#No version number uses current version
Effects File Name: effects.csv

Messages File Name: messages.config

Greeter Messages File Name: greeters.config

#Manually set the DwarfCraft database to another database file, if you are using multiple sqlite plugins this should work.
Database File Name: dwarfcraft.db

#Affects debug level on restart
Debug Level: 7

#If we should greet every player as they come online
Send Login Greet: False

